<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="share_cart" frontName="share_cart">
            <module name="RedChamps_ShareCart" before="Magento_Backend"/>
        </route>
        <route id="sales">
            <module name="RedChamps_ShareCart"/>
        </route>
    </router>
</config>
