a:visited, .alink:visited
{   color: #292826;
}
a:hover, .alink:hover{color:#292826;}
a:hover,
a:focus,
a:active
{	outline: none !important; 	
}
a, .alink{color: #292826;}
a:hover
{	transition: all 0.5s ease; text-decoration: none;	
}
.btn:hover,
.btn:focus,
.btn:active,
{	box-shadow: none; outline: none !important; transition: all 0.5s ease;	
}
button
{	font-size: 14px;
    background-color: #292826;
    color: #fff;
    padding: 9px 10px;
    letter-spacing: 1.4px;
    display: inline-block;
    border: 1px solid #292826;
    transition: all 0.5s ease;
    text-transform: uppercase;	
    box-shadow: none !important;
    border-radius:0px;
}
button:hover
{   background: #fff; border: 1px solid #292826;color:#292826;       
}
a:active, .alink:active{color:#292826;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus
{	box-shadow: none; 	
}
body
{	font-family: 'Poppins', sans-serif; font-size: 14px;
}
h1.page-title {
    color: #292826;
}
.logo
{   margin: 17px auto; display:block; float: none; display: inline-block;text-align: center; max-width: 100%;
}
.logo img
{   width: auto; height: auto; margin: 0 auto;
}
.cms-index-index .columns .column.main{ padding-bottom: 0px; }
.abs-product-link > a:visited, .product-item-name > a:visited, .product.name a > a:visited{color:#292826;}
@media (min-width: 992px)
{
    .page-header .panel.wrapper{ display: none; }
    .nav-sections
    {	background: #f9d342; margin-bottom: 0px;    	
    }
    .nav-sections-items .navigation
    { 	background: #f9d342; max-width: 1240px;
    }
    .nav-sections-items .navigation ul li.level-top{ margin-right: 0px; }
    .nav-sections-items .navigation ul li.level-top > a
    {	color: #000; font-size: 14px; font-weight: normal; padding-right: 7px;transition: all 0.5s ease;
    }
    .nav-sections-items .navigation ul li.level-top > a:hover {
        background: #fff;
    }
    .navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top
    {	background: #ffffff; color: #000;border:none;
    }
    .navigation .level0 ul.submenu
    {	padding: 0px; border-top: 0px;left: -1px !important;
    }
    .navigation .level0 ul.submenu li > a
    {	font-size: 13px;  padding:10px 15px; display: block; color: #000;   	
    }
    .navigation .level0 .submenu .active > a
    {   border-color: #bbbcb7;        
    }
    .navigation .level0.parent > .level-top{ padding-right: 30px; }
    .navigation .level0.parent > .level-top > .ui-menu-icon{ right: 6px; }
    .footer-middle .col-lg-4:nth-of-type(3){ padding-left: 50px; }
    .header-middle .row{align-items: center;}
    .navigation ul {
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (min-width: 1199px)
{
    .cms-index-index .page.messages
    {   position: relative; z-index: 99; top: -50px;       
    }
}
.top__header
{	background:#fff; padding: 12px 0px;	
}
.top-left p
{	margin-bottom: 0px; font-size: 14px; color: #000; font-weight: 400; letter-spacing: 1px;
}
.top-right
{	text-align: right;	
}
.top-right p
{	margin-bottom: 0px; font-size: 15px; color: #000;
}
.top-right p span{ font-size: 15px; color: #000; font-family: 'Poppins', sans-serif; margin-left: 10px; }
.top-right p span a{  color: #000; }
.top-right p span a:hover{ text-decoration: none; }
.top-right p span:before
{	color: #000;  font-size: 20px; margin-right: 8px; font-family:'FontAwesome'; display: inline-block; vertical-align: middle;
}
.search-box
{	padding: 0;
}
.header-middle {
    padding: 18px 0 12px 0;background:#292826;
}
.search-box .block.block-search
{	float: none; width: auto; padding-left: 0px;
}
.search-box .block-search input
{	padding: 10px 40px 10px 20px; height: auto; line-height: normal; border-radius: 30px; font-weight: 600;  color: #bbbcb7 !important;border:none;
}
.search-box .block-search input::-webkit-input-placeholder
{   color: #bbbcb7 !important; opacity: 1; font-weight: 600;
}
.search-box .block-search input::-moz-placeholder,
.search-box .block-search input:-moz-placeholder
{   color: #bbbcb7 !important; opacity: 1; font-weight: 600;
}
.block-search .action.search
{	opacity: 1 !important; top: 8px; right: 17px;	
}
.block-search .action.search:before
{	background: url(../images/search2x.png) no-repeat center center; width: 25px; height: 25px; background-size: 22px auto; 
	content: "";
}
.header-left.logo-main{padding-top: 0;text-align: center;}
.header-left.logo-main a.logo{margin:0;max-width: 165px;}
.header-right
{	text-align: right; padding-top: 0;	
}
.header-right .customer-links{ list-style: none; padding: 0px; margin: 0px; display: inline-block; vertical-align: middle; }
.header-right .customer-links li
{	display: inline-block; margin-right: 20px;	margin-bottom: 0px;
}
.header-right .customer-links li a
{	color: #292826; font-size: 28px; display: block;
}
.header-right .customer-links li.nav-item.login ul.header.links li a {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding: 12px 15px 8px;
    display: block;
    transition: all 0.5s ease;
}
.header-right .customer-links li.nav-item.login ul.header.links li a:hover {
    background: #ddd;
}
.header-right .customer-links li .customer-wishlist a
{	background: url(../images/heart1.png) no-repeat center center; width: 40px; height: 40px; background-size: 30px auto; position: relative;	
}
.header-right .customer-links li .customer-wishlist a .counter{ position: absolute; bottom: -11px; font-size: 11px; left: 0px; display: block; min-width: 45px; text-align: left; }
.header-right .customer-links li a:hover
{	text-decoration: none;	
}
.header-right .customer-links li.login > a
{	background: url(../images/account1.png) no-repeat center center; width: 40px; height: 40px; background-size: 30px auto; 			
}
.header-right .customer-links li.login ul.header.links{ display: none; }
.header-right .customer-links li.nav-item.login ul.header.links {
    opacity: 0;
    position: absolute;
    top: 70%;
    visibility: hidden;
    z-index: 100;
    display: block !important;
    padding: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0;
    border: none;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    right: 20px;
}
.header-right .customer-links li.nav-item.login ul.header.links li.link.wishlist{display: none;}

.header-right .customer-links li.nav-item.login:hover ul.header.links{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
}
.header-right .customer-links .header.links li {
    display: inherit;
    text-align: center;
    width: 100%;
}
.minicart-wrapper
{	margin-left: 0px; display: inline-block; float: none; vertical-align: middle;		
}
.minicart-wrapper .action.showcart:before,
.minicart-wrapper .action.showcart.active:before
{	background: url(../images/cart.png) no-repeat center center; width: 40px; height: 40px; background-size: 30px auto; 
	content: "";
}
.minicart-wrapper .action.showcart:hover,
.minicart-wrapper .action.showcart:focus{outline:none;box-shadow:none;}
.minicart-wrapper .action.showcart .counter.qty.empty,
.minicart-wrapper .action.showcart .counter.qty
{	background: #f9d342; color: #000; line-height: 22px; height: 22px; min-width: 22px; font-size: 11px; vertical-align: middle; margin: 0px;
    box-shadow: none; border-radius: 100%; position: absolute; right: -10px; top: -5px;
}
.minicart-wrapper .action.showcart .counter-number{text-shadow:none;visibility:visible;}
.block-minicart .block-content > .actions > .primary .action.primary{margin-top:0px;background:#292826;border:1px solid #292826;border-radius:0px;color:#fff;padding:10px 20px;margin-right:0px;line-height:normal;font-size:16px;letter-spacing:0px;transition: all 0.5s ease;}
.block-minicart .block-content > .actions > .primary .action.primary.share-cart-btn{
    background: #f9d342;
    border-color: #f9d342;
    color: #000;
}
.block-minicart .block-content > .actions > .primary .action.primary:hover, .block-minicart .block-content > .actions > .primary .action.primary.share-cart-btn:hover {
    background: transparent;
    color:#292826;
}
.block-minicart .block-content > .actions > .primary button#top-cart-btn-checkout {
    margin: 0 0 10px 0;
}
.minicart-items .product-item-details .price-including-tax, .minicart-items .product-item-details .price-excluding-tax{margin:5px 0 10px;}
.minicart-wrapper .product .actions{float:right;margin:-30px 0 0 0;}
.block-minicart .block-content > .actions .action.viewcart{background:#292826;padding:6px 10px;color:#fff;border-radius:4px;font-size:13px;text-transform:capitalize;border:1px solid #292826;transition: all 0.5s ease;}
.block-minicart .block-content > .actions .action.viewcart:hover{background:transparent;color:#292826;}
.minicart-items .product-item-name{margin:0px;}
.minicart-items .product-item-details .price-container .price-excluding-tax{margin-bottom:10px;}
.insta h1 a{color:#8F9FB2;}
.minicart-items .update-cart-item{margin-top:0px;}
.minicart-items .product > .product-item-photo{padding:0px !important;}
.minicart-items .product-item-details{text-align:left !important; margin-top:0px !important;}
.minicart-items .product-item-details .product-item-name a{color:#3e4851;}
.minicart-items .product-item-details .product.options.list dt,
.minicart-items .product-item-details .product.options.list dd{ font-size: 12px; }
.cms-index-index .page-title-wrapper
{	display: none;	
}
#banner-slider-carousel .owl-item img
{	width: 100%;	
}
.banner-item.banner-slider .mobile
{   display: none;   
}
#banner-slider-carousel .owl-dots
{   bottom: 80px; z-index: 99; opacity: 1; margin-left: -20px; width: 100%; position: absolute; margin-top: 0px;
}
#banner-slider-carousel .owl-dots .owl-dot
{	box-shadow: none;	
}
#banner-slider-carousel .owl-dots .owl-dot span{ width: 12px; height: 12px; background: #fff; }
#banner-slider-carousel .owl-dots .owl-dot.active span,
#banner-slider-carousel .owl-dots .owl-dot:hover span
{ background: #bbbcb7; 
}
.banner-text
{	max-width: 50%; right: 0px; top: 21%; position: absolute; width: 100%;
}
.banner-text h3
{	color: #292826; font-size: 26px; text-transform: uppercase; font-weight: 600; margin-bottom: 40px;
}
.banner-text h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    /* font-family: 'Montserrat', sans-serif; */
    background: #292826;
    max-width: 47%;
    border: 1px solid #cccccc;
    letter-spacing: 3.5px;
    padding: 24px;
    line-height: 59px;
    margin:0 0 15px 0;
}
.banner-text h2 span {
    font-weight: bold;
    font-size: 72px;
    /* font-family: 'Montserrat', sans-serif; */
    letter-spacing: 7.0px;
}
.banner-text .show-more
{	background: #292826; border-radius: 30px; font-size: 16px; text-transform: capitalize;
	color: #fff; display: inline-block; padding: 12px 30px;	
}
.banner-text .show-more:hover
{	background: #f9d342;color:#000;
}
.fancybox-slide--video .fancybox-content
{   box-shadow:0 3px 3px rgba(0,0,0,0.2);margin:60px;padding:15px;overflow:visible !important;background:#fff;max-width:790px;max-height:500px;
}
.fancybox-content .fancybox-close-small
{   
    right: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    position: absolute;
    box-shadow: none;
    background: #bbbcb7;
    border-radius: 100%;
    font-size: 18px
    color:#000;
    border:none;    
}
.fancybox-content .fancybox-close-small:after {
    content: "x";
    display: block !important;
}

#mageplaza-bannerslider-block-before-page-top-2{ min-height: 300px; }
/* free shipping blocks css */
.free-shippingbar
{	margin-top: -50px;	position: relative; z-index: 99;
}
.free-shippingbar .inner-card
{	background: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 0.5s ease;
}
.free-shippingbar .inner-card img
{	display:inline-block; width: auto; 	
}
.free-shippingbar .inner-card h2
{	text-transform: uppercase; font-size: 16px; color: #000; font-weight: 600;
	vertical-align: middle; padding-left: 20px; line-height: normal; margin-bottom: 0px;	
}
/* free shipping blocks css end*/
/* home categories css */
.all-categories
{	margin-top: 50px; margin-bottom: 20px;
}
.all-categories .cat-box
{	position: relative; margin-bottom: 30px; box-shadow: 0px 0px 8px rgba(0,0,0,0.2); 	
}
.all-categories .cat-box img
{	width: 100%;	
}
.all-categories .cat-box h2
{	font-size: 20px; font-weight: 500; text-align: center; position: absolute; width: 100%; bottom: 20px; left: 0px;
	  -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; 
}
.all-categories .cat-box:hover h2
{	bottom: 45%; transform:scale(1.3);
}
.all-categories .cat-box h2 a
{	color: #fff;	
}
.actionbar
{	text-align: center;	
}
.actionbar a
{	background: #292826; border-radius: 30px; font-size: 16px; text-transform: capitalize;
	color: #fff; display: inline-block; padding: 7px 30px;border:1px solid #292826;		
}
.actionbar a:hover{ background: transparent; color:#292826; }
.home-collection
{	margin-top: 50px;	
}
.free-video-section {
    margin: 70px 0 90px 0;
}
.free-video-section .col-12.col-sm-12.col-md-6:nth-last-child(1){display: flex;flex-wrap: wrap;justify-content: flex-end;}
.free-video-section h2 {
    font-size: 40px;
    color: #f9d342;
    /* font-family: poppins; */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: -10px;
}
.free-video-section h2 span{color:#292826;}
.free-video-section h4 {
    font-size: 29px;
    color: #292826;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 600;
    margin:10px 0 25px 0;
}
.free-video-section p{
     font-size: 14px;
    font-weight: 500;
    color: #272727;
}
p.video-section-first-content {
    font-size: 14px;
    color: #292826;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
p.video-section-first-content span{color:#292826;font-weight: bold;}

/***** get quoute css *********/
.cms-home-cakes4business-online.cms-index-index .page-main {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.home-get-quote {
    background: #f1f1f1;
    padding: 69px 0 84px;
}
.home-get-quote h1.page-title {
    font-size: 35px;
    color: #292826;
    margin-bottom: 60px;
}
.home-get-quote .form.contact .field .label{display: none;}
.home-get-quote .form.contact .field .input-text[placeholder]{
    color: #747474;
    /* font-size: 10px; */
}
.home-get-quote .form.contact .field .input-text {
    height: 55px;
    border: 1px solid #c8c8c8;
    padding: .375rem .75rem;
    color: #495057;
    line-height: 1.5;
    font-size: 15px;
    border-radius: 5px;
    color: #747474;
    padding: 20px;
}
.home-get-quote .form.contact .field textarea.input-text {
    resize: none;
    height: 100px;
}
.home-get-quote .field.name {
    width: 48%;
    float: left;
}
.home-get-quote .field.last-name {
    width: 48%;
    float: right;
}
.home-get-quote .form.contact .field{margin:0 0 30px 0;}
.home-get-quote .form.contact .fieldset{margin:0;}
.home-get-quote .field.telephone {
    width: 48%;
    float: right;
    margin: 0 0 65px 0;
}
.home-get-quote .field.email {
    width: 48%;
    float: left;
    margin: 0 0 65px 0;
}
.home-get-quote .form.contact .actions-toolbar .action {
    padding: 8px 50px;
    font-size: 16px;
    background: #292826;
    letter-spacing: 1.4px;
    border: 1px solid #292826;
    transition: all 0.5s ease;
    text-transform: capitalize;
    font-weight: normal;
    border-radius: 20px;
    color:#fff;
}
.home-get-quote .form.contact .actions-toolbar .action:hover{
    background-color: transparent;
    border: 1px solid #292826;
    background-size: cover;
    color: #292826;
}
.quote-right-part {
    text-align: center;
    margin-top: 10px;
}
.quote-right-part h5 {
    font-size: 30px;
    color: #292826;
    font-weight: normal;
    margin-bottom: 10px;
}
.quote-right-part h5 span {
    font-weight: bold;
}
.quote-right-part h2 {
    font-size: 45px;
    color: #292826;
    font-weight: bold;
    margin:0 0 50px 0;
    text-transform: capitalize;
}
.quote-right-part h2 a{color: #292826;}


.home-collection .col-md-6 img{ width: 100%; }
/* home categories css */
.home-products .block-products-list .mp-product-slider-title
{	font-size: 30px; color: #000;	
}
.home-products .block-products-list .mp-ps-info
{	display: none;
}
/* Global css product card */
.products-grid .product-item-info
{   width: 100%; 
}
.products-grid .product-item-info:hover, 
.products-grid .product-item-info.active
{   box-shadow: none; margin: 0px; border: none; padding: 0px; 
}
.product-items .product-item
{   padding: 15px;
}
.product-items .product-item .product-item-info
{   width: 100% !important; position: relative; 
}
.product-items .product-item .product-item-info:hover
{   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);    
}
.product-image-container
{   display: block; margin: 0 auto;    
}
.product-items .product-item .product-item-info .action.towishlist
{   position: absolute; right: 10px; top: 10px; color: #292826; z-index: 9; font-size: 18px;     
}
.product-items .product-item .product-item-info .action.towishlist:before
{   display: none;
}
.product-items .product-item .product-item-info .action.towishlist:hover span:before
{   content: "\f004"; color: #292826;    
}
.product-items .product-item .product.details
{   text-align: center; margin-left: 0px; padding-bottom: 40px;    
}
.product-items .product-item .product.details .product-item-name
{   color: #333333; font-size: 16px;    
}
.product-items .product-item .product.details .product-item-name a
{   color: #333333;         
}
.product-items .product-item .product.details .price-box .price
{   color: #292826; font-weight: 600; font-size: 18px;
}
.product-items .product-item .product-item-actions
{   margin: 0px; visibility: hidden; transition: all 0.5s ease;
}
.product-items .product-item .product-item-info:hover .product-item-actions
{   visibility: visible;     
}
.product-items .product-item .product-item-actions .action.tocart
{   background: url(../images/addtoart2x.png) no-repeat 14px center #292826;
    padding: 10px 20px 10px 50px;
    color: #fff;
    border-radius: 30px;
    background-size: 27px auto;
    border-color: #292826;
    line-height: normal;
    height: auto;
    font-size: 16px;
    font-weight: normal;   
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.product-items .product-item .product-item-actions .action.tocart:hover {
    background: url(../images/addtoart-hover.png) no-repeat 14px center transparent;
    border-color: #292826;
    color: #292826;
    background-size: 27px auto;
}
.product-items .product-item .product-item-actions .secondary-addto-links 
{   display: none;    
}
.products-grid .product-item-inner
{   box-shadow: none; border: none; margin: 0px; position: static;
}
.page-products .products-grid .product-item-inner:before
{   display: none;
}
/* Global css product card */
.mp-product-slider-content .product-items .product-item
{    width: calc(100% - 20px) !important; margin: 10px !important;    
}
.mp-product-slider-content .owl-nav .owl-prev
{  background: url(../images/arrow2x.png) no-repeat left center !important; background-size:60px auto !important; width: 20px; height: 35px;
    box-shadow: none; left: -20px;       
}
.mp-product-slider-content .owl-nav .owl-next
{   background: url(../images/arrow2x.png) no-repeat right center !important; background-size:50px auto !important; width: 20px; height: 35px;
    box-shadow: none; right: -20px;     
}
.mp-product-slider-content .owl-nav .owl-prev span,
.mp-product-slider-content .owl-nav .owl-next span
{ display: none; 
}

/* footer css */
.page-bottom
{  max-width: inherit !important; margin: 0px !important; width: 100% !important; padding-left: 0px !important; padding-right: 0px !important;
}
.page-bottom .content
{   width: 100%;    
}
.page-bottom .content > .newsletter
{   background: #292826; padding: 52px 0px; width: 100%; max-width: inherit;
}
.page-bottom .content .newsletter .join
{   max-width: 600px; margin: 0 auto;    
}
.page-bottom .content  .block.newsletter
{   width: 100%; max-width: inherit !important; margin-bottom: 0px;    
}
.page-bottom .content .newsletter .join h2
{   color: #fff; font-size: 20px; font-weight: 600; text-align: center; margin-bottom: 20px;
}
.page-bottom .content .newsletter .join .block.newsletter .input-group
{   display: block; position: relative; max-width: 78%; margin: 0 auto;
}
.page-bottom .content .newsletter .join .block.newsletter .input-group #newsletter
{   width: 100%; background: #fff; border-radius: 30px;     padding: 12px 15px; height: auto; line-height: normal; margin: 0px; font-size: 15px;
    border: none;
}
.page-bottom .content .newsletter .join .block.newsletter .input-group .btn.btn-theme
{   position: absolute; right: 6px; background: #f9d342; border-color: #f9d342; color: #000; font-size: 14px;    border-radius: 30px; padding: 5px 20px;
    box-shadow: none;
    top: 6px;
}
.page-footer{ margin-bottom: 0px; padding-bottom: 0px; }
.footer-top
{   background: #fff; padding: 30px 0px;    
}
.footer-top .satisfication
{   font-size: 16px; color: #333333; line-height: 22px; padding-top: 20px;    
}
.footer-top .satisfication img
{   float: left; margin-right: 20px; position: relative; top: -20px;
}
.footer-top .social{ border-left: 1px solid #ccc; padding-left: 30px; padding-top: 20px; padding-bottom: 20px; }
.footer-top .social ul
{   list-style: none; padding: 0px; margin: 0px; display: inline-block; vertical-align: middle;    
}
.footer-top .social ul li{ display: inline-block; margin-bottom: 0px; }
.footer-top .social ul a
{ font-size: 0px; color: #bbbcb7; display: block; padding: 10px; 
}
.footer-top .social ul a:before
{   font-size: 30px;    
}
.footer-top .social h2
{   display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-right: 20px;
    color: #292826;
    font-size: 18px;
}
.footer-middle
{   background: #292826; padding-top: 45px; padding-bottom: 30px;    
}
.footer-middle h4
{   color: #fff; font-size: 18px; display: block; margin-bottom: 18px;
}
.footer-middle ul
{   list-style: none; padding: 0px; margin: 0px;
}
.footer-middle ul li
{   display: inline-block; width: 48%; margin-bottom: 10px;    
}
.footer-middle ul li a
{   font-size: 14px; color: #fff; text-transform: capitalize; letter-spacing: 0.050em;    
}
.footer-middle ul li a:hover
{   color: #9ddadb;   
}
.footer-middle .col-lg-4:nth-of-type(3) ul li{ width: 100%; }
.copyright
{   background: #292826;  padding: 0px;   
}
.copyright .container span
{   padding: 15px 0px; color: #fff; border-top: 1px solid #fff; display: block; font-size: 14px;
}
.copyright .container span a
{   color: #fff; text-decoration: underline;
}
/* footer css end */
.breadcrumbs
{   padding-top: 20px;    
}
.breadcrumbs a:visited, .breadcrumbs a:hover
{   color: #000;    
}
.breadcrumbs ul li a,
.breadcrumbs ul li strong
{   color: #959595; font-size: 16px; display: inline-block; vertical-align: middle;    
}
.breadcrumbs ul li strong
{   color: #000; 
}
.breadcrumbs .item:not(:last-child):after{ vertical-align: middle; }
/* category-landing css */
.category-landing .page-title-wrapper
{   text-align: center; margin-bottom: 40px;
}
.category-landing .page-title-wrapper .page-title
{   color: #bbbcb7; font-size: 35px; text-transform: capitalize; font-weight: 500;
}
.apptrian-subcategories-grid
{   margin: 0 -15px !important; width: auto !important;    
}
.category-image img{ width: 100%; }
.apptrian-subcategories-category-name{ margin-top: 10px; }
.apptrian-subcategories-category-name a
{   color: #bbbcb7; font-size: 18px;     
}
/* category-landing end css */
/* category page css */
.catalog-category-view .sidebar.sidebar-main
{       
}
.block-content.filter-content .block-subtitle.filter-subtitle{ display: none; }
.filter-options .filter-options-item
{   border-top: 0px; padding-bottom: 0px; border-bottom: 0px;
}
.filter-options .filter-options-item .filter-options-title
{   color: #292826;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
    padding-left: 0px;
    padding-bottom: 10px;
    border-bottom:1px solid #bbbcb7;
    font-weight: 600;
}
.filter-options .filter-options-content
{   padding: 10px 0px;    
}
.filter-options .filter-options-content ul li a
{   font-size: 15px; color: #353535;
}
.filter-options .items .items-children.-folding
{   padding-left: 0px;
}
.filter-options .items .items-children.-folding .item a
{  font-size: 15px; color: #353535;     
}
.am-filter-items-attr_category_ids > li.item{ padding-left: 0px !important; }
.am-filter-items-attr_category_ids li .am-input
{   display: none;
}
.am-filter-items-attr_category_ids li a{ display: block; }
.am-filter-items-attr_category_ids li a .count{ display: none; }
.am-filter-items-attr_category_ids li a:hover
{   background: none;
}
.amshopby-slider-container .am-slider .ui-slider-handle{background:#f9d342;}
.amshopby-slider-container .am-slider .ui-slider-handle:hover, .amshopby-slider-container .am-slider .ui-slider-handle:active{background-color: #f9d342;}
.filter-options .items .items-children.-folding .item
{   margin: 15px 0px;
}
.filter-options-title:after
{   right: 10px; top: 18px; font-size: 10px;    
}
.filter-options-content ol.items li{ position: relative; }
.filter-options-content ol.items li a
{     font-size: 15px; color: #353535; vertical-align: middle;  
}
.filter-options-content ol.items li input[type="radio"]
{   position: absolute; left: 8px; opacity: 0;
}
.filter-options-content ol.items li input[type="checkbox"]
{   position: absolute; left: 8px; opacity: 0;
}
.filter-options-content ol.items li a:before
{   width: 20px; height: 20px; border: 1px solid #acacac; content: "";
    display: inline-block; margin-right: 10px; vertical-align: middle;
}
.filter-options-content ol.items li a.am_shopby_link_selected:before
{   background: #84c0c0; border-color: #84c0c0;
}
.filter-options-content ol.items li a .count
{   float: right; font-size: 12px;    
}
.filter-options-content ol.items li a:hover
{   background: none;     
}
.amshopby-filter-current.filter-current ol .item 
{   padding-left: 30px; font-size: 15px; color: #353535; display: block;
}
.amshopby-filter-current.filter-current ol .item a
{   font-size: 15px; color: #353535;       
}
.amshopby-filter-current .amshopby-remove
{   width: 20px; height: 20px;    
}
.block-actions .filter-clear
{   font-size: 14px; color: #292826;
}
.block-actions .filter-clear:hover{text-decoration: underline;}
.amshopby-slider-display
{   margin-top: 10px; font-size: 15px; color: #353535;
}
.amshopby-slider-container .ui-slider-range
{   background: #bbbcb7;    
}
.ui-slider-horizontal
{   background: #292826;    
}
.catalog-category-view .column.main .page-title-wrapper
{   margin-bottom: 20px;
}
.catalog-category-view .column.main .page-title-wrapper .page-title
{   color: #292826; font-size: 32px; text-transform: capitalize;
}
.toolbar.toolbar-products .modes
{   display: none;
}
.toolbar.toolbar-products
{   border-bottom: 1px solid #bbbcb7; padding-bottom: 10px;
}
.toolbar.toolbar-products .toolbar-amount
{   font-size: 14px; color: #333333; 
}
.toolbar.toolbar-products .toolbar-sorter .sorter-label
{   font-size: 14px; color: #333333;        
}
.toolbar.toolbar-products .toolbar-sorter select
{   color: #333; border: 1px solid #c2c2c2; font-size: 12px; line-height: normal;  box-shadow: none;
    height: auto; padding: 7px 10px; background: url(../images/selectbg.png) no-repeat 95% center #fff; background-size: 7px auto;    
}
.toolbar.toolbar-products .pages .pages-items .item.pages-item-next a,
.toolbar.toolbar-products .pages .pages-items .item.pages-item-previous a
{   box-shadow: none; border: none; width: 27px; height: 27px; color:#333333; background:none;  
}
.toolbar.toolbar-products .pages .pages-items .item.pages-item-next a:before,
.toolbar.toolbar-products .pages .pages-items .item.pages-item-previous a:before
{   font-size: 13px; color: #fff;
}
.toolbar.toolbar-products .pages .pages-items li strong,
.toolbar.toolbar-products .pages .pages-items li a
{   width: 27px; height: 27px; color: #333333; font-size: 13px; border-radius: 100%;
}
.toolbar.toolbar-products .pages .pages-items li strong
{   background: #f9d342; text-align: center; font-weight: normal;color:#000; 
}
.toolbar.toolbar-products .field.limiter{ font-size: 14px; color: #333333; }
.toolbar.toolbar-products .field.limiter .label
{   font-size: 14px; color: #333333;     
}
.toolbar.toolbar-products .field.limiter select
{  color: #333; border: 1px solid #c2c2c2; font-size: 12px; line-height: normal;  box-shadow: none;
   height: auto; padding: 7px 10px; background: url(../images/selectbg.png) no-repeat 95% center #fff; background-size: 7px auto;     
}
.catalog-category-view .product-items .product-item .product.details{ padding-bottom: 20px; }
@media (min-width: 1024px)
{
    .page-products .products-grid .product-item
    {   width: calc((100% - 6%) / 3); margin-bottom: 10px;        
    }
}
/* category page end css */
/* details page css */
.product.media
{   display: block;    
}
.page-layout-1column .product.media
{   width: 48%;    
}
.page-layout-1column .product-info-main
{   width: 48%;    
}
.fotorama__wrap .fotorama__stage
{   padding: 20px !important; border: 1px solid #d7d7d7; margin-bottom: 20px;    
}
.product-info-main .page-title-wrapper h1
{   font-size: 30px;    
}
.product-info-main .product.overview
{   color: #353535; font-size: 14px;    
}
.product-info-main .product-reviews-summary .reviews-actions a
{   color: #353535; font-size: 12px;
}
.product-info-main .product-reviews-summary .reviews-actions a.add{ font-weight: 600; }
.product-info-main .product-info-price
{   padding-top: 15px; border-top:1px solid #cccccc; border-bottom-color: #cccccc; margin-bottom: 0px;padding:15px 0 5px 0;
}
.product-info-main .product-info-price .price-container .price
{   font-size: 30px; color: #292826; font-weight: 500;
}
.product-info-main .product-info-price .price-box .price-container > span{margin:0;}
.product-info-main .product-info-price .price-box{padding:0;}
.product-options-wrapper .field .label
{   color: #787878; font-size: 13px; font-weight: normal;
}
.product-options-wrapper .field
{   margin-bottom: 10px;    
}
.product-options-wrapper .field select,
.product-options-wrapper .field input[type="text"]
{   border: 1px solid #cccccc; padding:8px 10px; font-size: 14px; color: #000; height: auto; font-size: 13px;    
}
.product-info-main .stock{ padding-top: 7px; font-size: 16px;     }
.product-info-main .stock.available
{   color:#292826; text-transform: capitalize; font-weight: 500; 
}
.product-info-main .stock.unavailable
{   color: #787878; text-transform: capitalize; font-weight: normal;      
}
.product-info-main .product.attribute.sku{ display: none; }
.product-add-form .product-options-wrapper .field .control{ width: 100%; }
.product-options-bottom
{   padding: 15px 0px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-bottom: 15px;display: flex;align-items: center;
}
.product-info-main .product-add-form form > .box-tocart{ display: inline-block;  }
.product-options-bottom .box-tocart
{   display: inline-block; margin: 0px !important; 
}
.product-options-bottom .action.towishlist
{   display: inline-block;
}
.product-info-main .box-tocart .fieldset{ margin: 0px;display: flex;align-items: center; }
.product-info-main .box-tocart .field.qty .label{display:none;}
.product-info-main .box-tocart .field.qty{display:inline-block;margin-bottom:0px;margin-right:10px;}
.product-info-main .box-tocart .field.qty .control{border:1px solid #ccc;}
.product-info-main .box-tocart .field.qty .control .minus,
.product-info-main .box-tocart .field.qty .control .plus
{   background:#fff;font-size:20px;border:none;text-align:center;height:40px;line-height:40px;width:38px;padding:0px;text-align:center;margin-top:-2px;
    color: #898989;
}
.product-info-main .box-tocart .field.qty .control .minus:hover,
.product-info-main .box-tocart .field.qty .control .plus:hover{color:#fff !important;}
.product-info-main .box-tocart .field.qty .control .input-text.qty{text-align:center;height:38px;border:none;color:#000; font-size:15px;}
.box-tocart .actions
{   display: inline-block; vertical-align: middle;    
}
.box-tocart .actions .action.tocart
{   width: auto;  background: url(../images/addtoart2x.png) no-repeat 14px center #292826; padding: 9px 30px 9px 60px; color: #fff;
    background-size: 27px auto; border-color: #292826; line-height: normal; height: auto; font-size: 16px; font-weight: normal; margin-bottom: 0px;
    border-radius: 0px;
}
.box-tocart .actions .action.tocart span{ white-space: nowrap;  }
.box-tocart .actions .action.tocart:hover
{    background: url(../images/addtoart-hover.png) no-repeat 14px center transparent; background-size: 27px auto; border-color: #292826;color:#292826; 
}
.product-info-main .action.towishlist
{   width: 42px; height: 42px; font-size: 0px; border: 1px solid #ccc; text-align: center; margin-left: 10px;
    vertical-align: middle;display: flex;align-items: center;justify-content: center;
}
.product-info-main .action.towishlist::before
{   font-family: 'FontAwesome'; content: "\f004"; color: #292826; font-size: 18px;
    line-height: 38px;    
}
.sharethis-inline-share-buttons
{   margin-bottom: 40px;    
}
.product.info.detailed
{	border-bottom: 1px solid #898989; padding-bottom: 20px;	
}
.product.data.items > .item.title
{   background: none !important; padding-right: 30px;
}
.product.data.items > .item.title > .switch
{   font-size: 18px; color: #777777; border: none !important; border-bottom: 5px solid transparent; background: none !important;
    font-weight: 500; height: 50px; padding: 0px;    
}
.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover
{  border-bottom:5px solid #292826 !important; color: #292826;
}
.product.data.items > .item.content
{   border: none !important; border-top:1px solid #cccccc !important; padding: 20px 0px;  margin-top: 50px;     
}
.review-form .action.submit.primary
{   background: #bbbcb7;
    border: 1px solid #bbbcb7;
    color: #fff;
    font-size: 14px;
    line-height: 1.6rem;
    padding: 10px 15px;
}
.review-form .action.submit.primary:hover{ background: #fff; color:#bbbcb7;  }
.block.related{clear:both;margin-bottom:30px;}
.block.upsell{margin-bottom:0px;}
.block.related .block-title,
.block.upsell .block-title,
.block.crosssell .block-title
{ text-align: center; 
}
.block.related .block-title strong,
.block.upsell .block-title strong,
.block.crosssell .block-title strong
{   font-weight: 500; text-transform: uppercase; color: #70cacb; font-size: 30px;    
}
.block.related .products{margin-bottom:0px;}
.block.related .product-item-info,
.block.upsell .product-item-info,
.block.crosssell .product-item-info{width:100%;}
.block.related .product-item-info .actions-secondary .action.tocompare,
.block.upsell .product-item-info .actions-secondary .action.tocompare,
.block.crosssell .product-item-info .actions-secondary .action.tocompare{ display: none; }
.block.related .product-item-info .actions-secondary .action.towishlist,
.block.upsell .product-item-info .actions-secondary .action.towishlist,
.block.crosssell .product-item-info .actions-secondary .action.towishlist{ position: absolute; right: 15px; top: 15px; color: #f3868f; z-index: 9; display: block; }
.block.related .product-item-info .actions-secondary .action.towishlist span,
.block.upsell .product-item-info .actions-secondary .action.towishlist span,
.block.crosssell .product-item-info .actions-secondary .action.towishlist span{ display: none; }
.block.crosssell .product-item-info .actions-secondary .action.tocompare{ display: none; }
.block.related .product-item-info .actions-secondary .action.towishlist:before,
.block.upsell .product-item-info .actions-secondary .action.towishlist:before,
.block.crosssell .product-item-info .actions-secondary .action.towishlist:before{  font-family: 'FontAwesome'; content: "\f004"; color: #f3868f; font-size: 18px; display: block; width: 20px; height: 20px; line-height: 20px; }
.block.related .product-item-info .product-image-container,
.block.upsell .product-item-info .product-image-container,
.block.crosssell .product-item-info .product-image-container{width:100%;}
.page-layout-1column .block.related .products-grid .product-item,
.page-layout-1column .block.upsell .products-grid .product-item,
.page-layout-1column .block.crosssell .products-grid .product-item{width:calc(100% - 14px) !important; margin:7px; }
.block.related .product-item-details,
.block.upsell .product-item-details,
.block.crosssell .product-item-details{text-align:center;margin-top:10px; padding-left: 10px; padding-right: 10px;}
.owl-carousel-related-cross .owl-nav .owl-prev
{	background: url(../images/arrow2x.png) no-repeat left center !important; background-size:60px auto !important; width: 20px; height: 35px;
    box-shadow: none; left: -20px; position: absolute; top: 40%; z-index: 9;  	
}
.owl-carousel-related-cross .owl-nav .owl-next
{   background: url(../images/arrow2x.png) no-repeat right center !important; background-size:50px auto !important; width: 20px; height: 35px;
    box-shadow: none; right: -20px; position: absolute; top: 40%; z-index: 9;     
}
.owl-carousel-related-cross .owl-nav .owl-prev span,
.owl-carousel-related-cross .owl-nav .owl-next span
{ display: none; 
}
/* details page css end */
/* cart page css */
.checkout-cart-index .page-title-wrapper{ margin-top: 30px; }
.checkout-cart-index .page-main > .page-title-wrapper .page-title{color:#000;font-size:30px;text-transform:capitalize; }
.cart-container .form-cart{width:100%;padding-right:0px;margin-bottom:0px;float: none}
.table-wrapper{margin-bottom:0px;}
.block.crosssell{width:100%;padding-right:0px;}
.cart.table-wrapper .cart thead tr th.col{border-top:0px;font-size:14px;font-weight:normal; }
.cart.table-wrapper .cart thead tr th.col.item,
.cart.table-wrapper .cart tbody tr td.col.item{width:60%;}
.cart.table-wrapper .cart thead tr th.col.price,
.cart.table-wrapper .cart tbody tr td.col.price{text-align:center;width:15%;text-align:left;}
.cart.table-wrapper .cart thead tr th.col.qty,
.cart.table-wrapper .cart tbody tr td.col.qty{text-align:center;width:15%;text-align:center;}
.cart.table-wrapper .cart thead tr th.col.subtotal,
.cart.table-wrapper .cart tbody tr td.col.subtotal{width:15%;}
.cart.table-wrapper .cart tbody tr td .product-item-name{font-size:16px; font-weight: 600; }
.cart.table-wrapper .product-item-name + .item-options{margin:10px 0px;}
.item-options dt,
.item-options dd
{	margin:0;color:#999;font-size:13px;font-weight:normal;
}
.item-options dd{ color: #fff; }
.cart.table-wrapper .cart tbody tr td.col.price .price, .cart.table-wrapper .cart tbody tr td.col.subtotal .price{font-weight:600;font-size:16px;color:#292826;}
.cart.table-wrapper .cart tbody tr td .control.qty{width:124px;border:1px solid #bbbcb7;text-align:center;height:40px;display:flex;align-items:center;justify-content:center;position:relative;margin:0 auto;top:-8px;}
.cart.table-wrapper .cart tbody tr td .control.qty button
{	background:#292826;border:none;margin:0px;padding:9px;line-height:normal;height:auto; box-shadow: none; border-radius:0px; 
}
.cart.table-wrapper .col.qty .input-text{border:none;margin-top:0px;}
.cart.table-wrapper .cart tbody tr td.col.item .actions{display:flex;}
.cart.table-wrapper .cart tbody tr td.col.item .actions a{font-size:14px;color:#999999;margin-right:34px;}
.cart.table-wrapper .cart tbody tr td.col.item .actions a img{vertical-align:middle;display:inline-block;margin-right:5px;position:relative;top:-2px;}
.cart.table-wrapper .cart tbody tr td.col.item .actions .action-towishlist{order:3;background:url(../images/move-to-wish-list.svg) no-repeat left center;padding-left:20px;}
.cart.table-wrapper .cart tbody tr td.col.item .actions .action-delete{order:1;}
.cart.table-wrapper .cart tbody tr td.col.item .actions .action-edit{order:2;}
.cart.table-wrapper .item .col.item{display:table-cell;}
.cart.table-wrapper .product-item-photo{width:185px;display:inline-block;}
.cart.table-wrapper .product-item-details{width:calc(100% - 200px);display:inline-block;}
.cart-container .form-cart .actions.main .action.update
{	box-shadow: none; background: #292826; border:1px solid #292826; text-transform:uppercase;font-size:15px;color:#fff;transition:all 0.5s ease;
	font-weight: normal;
    letter-spacing: 0.050em;
    box-shadow: none;
    border-radius: 0px;	
}
.cart-container .form-cart .actions.main .action.update:hover
{	background: #fff; color: #292826;
}
#block-shipping{display:none;}
.cart-totals{width:295px;float:right;border:none;}
.cart-totals .data.table.totals .totals.sub th{font-size:18px; color:#000;background:none;}
.cart-totals .data.table.totals .totals.sub td{font-size:18px;color:#3e4851;}
.cart-totals .data.table.totals .grand.totals th{font-size:18px; color:#000;text-transform:uppercase;background:none;}
.cart-totals .data.table.totals .grand.totals td{font-size:18px;color:#3e4851;}
.cart-info-right{float:right;width:295px;}
.cart-info-right .summary.title{display:none;}
.cart-info-right .action.primary.checkout
{	background:#292826;border:1px solid #292826;padding:14px; letter-spacing:1.4px;text-align:center;text-transform:uppercase;font-size:16px;color:#fff;transition:all 0.5s ease;width:100%;margin-top:0px;font-weight:normal;
	border-radius: 0px;		
}
.cart-info-right .action.primary.checkout.share-cart-btn{background:#f9d342;border:1px solid #f9d342;color:#000;}
.cart-info-right .action.primary.checkout:hover, .cart-info-right .action.primary.checkout.share-cart-btn:hover{background:#fff;color:#292826;}
.cart-info-right .checkout-methods-items li a{ font-weight: 600; }
.checkout-extra .block.discount{padding-top:15px;}
.checkout-extra .block.discount .title{display:none;}
.checkout-extra .block.discount .field{position:relative;max-width:645px;}
.checkout-extra .block.discount .control{width:100%;padding-right:103px;}
.checkout-extra .block.discount .control .input-text{height:48px;border:1px solid #ced4da;color:#495057;font-size:16px;}
.checkout-extra .block.discount .actions-toolbar{position:absolute;top:0px;right:0px;margin-top:0px;}
.checkout-extra .block.discount .actions-toolbar button.apply{background:#292826;border:1px solid #292826;padding:13px 30px; letter-spacing:1.4px;text-align:center;text-transform:uppercase;color:#fff;transition:all 0.5s ease;margin-top:0px;height:48px;font-weight:normal; border-radius: 0px; }
.checkout-extra .block.discount .actions-toolbar button.apply:hover{background:#fff;color:#292826;}
.checkout-extra .block.discount .label{font-size:14px;font-weight:normal;margin-bottom:15px;}
.continue-shop .continue{background:#292826;border:1px solid #292826;padding:13px 34px; letter-spacing:1.4px;text-align:center;text-transform:uppercase;color:#fff;transition:all 0.5s ease;margin-top:0px;height:48px;font-weight:normal;font-size:13px;}
.continue-shop .continue:hover{background:#fff;color:#292826;}
.shopping-cart-bottom{padding-bottom:20px;border-bottom:1px solid #ccc; margin-top: 20px;}
.cart-totals tbody .mark, .cart-totals tfoot .mark{background:none;}
/* cart page css end */
/* Checkout page css */
.checkout-agreements .action.action-show
{	background: none !important; color: #212529 !important; padding: 0px; text-transform: none; font-size: 11px; vertical-align: middle; width: 87%; text-align: left;
	font-weight: normal;
}
.checkout-agreement .label:after{ display: none !important; }
.amcheckout-step-container .amcheckout-form-login .amcheckout-email .note, 
.amcheckout-step-container .form-login .amcheckout-email .note
{	width: 100%; display: block;	
}
.row.amcheckout-method { width: 100%; margin: 0px; }
.row.amcheckout-method .col{ width: auto; }
.checkout-index-index .nav-sections{ display: block;  }
/* Checkout page css */

/* login/register page css */
.overview.sign-in-sign-up{ margin-top: 40px; }
.customer-account-login .page-title-wrapper{display:none;}
.form-create-account .legend{margin-bottom:0px;padding-bottom:0px;border-bottom:0px; font-size:22px;color:#bbbcb7;letter-spacing:2.2px;text-transform:uppercase;}
.form-create-account .legend + p{color:#fff !important;font-size:16px; margin-bottom:24px;}
.customer-name-prefix .fields{display:block;}
.customer-name-prefix .fields .field.field-name-prefix{display:none;}
.customer-name-prefix .fields .field.field-name-firstname{width:100%;display:block;}
.customer-name-prefix .fields .field.field-name-lastname{width:100%;display:block;}
.sign-in-sign-up .fieldset > .field > .label{ font-size:14px; margin-bottom:.5rem;font-weight:normal; }
.form-create-account
{   padding-right: 60px !important;
    padding-top: 0px !important;
    box-shadow: none !important;
    border: none !important;
    min-width: inherit !important;
    width: 100% !important;
}
.form-create-account .fieldset-fullname .fields .field + .field{padding-left:0px;margin-bottom:1rem;}
.fieldset.fieldset-fullname{margin-bottom:0px;}
.fieldset.create.info{margin-bottom:0px; width: 100% !important;}
.fieldset.create.info .field.field-name-lastname{ margin-bottom: 20px; }
.sign-in-sign-up .input-text{height:40px;border:1px solid #999999;padding:.375rem .75rem;color:#495057;line-height:1.5;font-size:16px;}
.form-create-account .gender{display:block;margin-bottom:20px;}
.gender .input{display:inline-block;padding:0px 10px;vertical-align:middle;position:relative;padding-left:25px;}
.gender .input label{margin-bottom:0px;line-height:20px;display:inline-block;vertical-align:middle;}
.gender .input input{position:absolute;left:0px;top:5px;z-index:1;opacity:0;}
.gender .input .mage-error{position:absolute;width:200px;margin-top:0px;left:0;}
.gender .input label::before{background-color:#000;border:1px solid #fff;position:absolute;top:7px;left:0px;width:14px;height:14px;display:block;content:"";}
.gender .input label::after{position:absolute;top:.25rem;left:0;display:block;width:1rem;height:1rem;content:"";}
.gender .input input:checked + label::after{background-image:none;width:4px;height:4px;background:#fff;left:5px;top:12px;}
.field.gender.agree label{color:#999999; font-size:16px;}
.fieldset.create.account{margin-bottom:0px; width: 100% !important; }
.form-create-account .fieldset.create.account:after{display:none;}
.sign-in-sign-up .actions-toolbar{margin-top:2rem;}
.sign-in-sign-up .actions-toolbar .action.submit{padding:14px 70px;font-size:16px;  background:#bbbcb7;letter-spacing:1.4px;border:1px solid #bbbcb7;transition:all 0.5s ease;text-transform:uppercase;font-weight:normal; height: auto;}
.sign-in-sign-up .actions-toolbar .action.submit:hover{background-color:#000;border:1px solid #bbbcb7;background-size:cover;color:#bbbcb7;}
.form-text{margin:1rem 0px;}
.block-customer-login .block-title strong{ font-size:22px;color:#bbbcb7;letter-spacing:2.2px;font-weight: normal; text-transform:uppercase;}
.block-customer-login .field.note{color:#fff !important;font-size:16px; margin-bottom:24px;}
.form-login .field.password{position:relative;}
.form-login .show-hide-pass{position:absolute;right:8px;top:38px;z-index:9;width:20px;height:20px;display:inline-block;}
.form-login .show-hide-pass input{opacity:0;position:absolute;width:100%;height:100%;}
.sign-in-sign-up .actions-toolbar .action.login{padding:14px 70px;font-size:16px; background:#bbbcb7;letter-spacing:1.4px;border:1px solid #bbbcb7;transition:all 0.5s ease;text-transform:uppercase;font-weight:normal; height: auto;}
.sign-in-sign-up .actions-toolbar .action.login:hover, .sign-in-sign-up .actions-toolbar .action.login:focus{background-color:#000;border:1px solid #bbbcb7;background-size:cover;color:#bbbcb7;}
.sign-in-sign-up .actions-toolbar .secondary{padding-left:50px;}
.sign-in-sign-up .actions-toolbar .secondary a{color:#999999;font-size:16px;margin-top:10px;}
.fieldset.login{margin-bottom:20px;}
.sign-in-sign-up .first-side{order:1;border-right:1px solid #999999;}
.sign-in-sign-up .right-side{order:2;padding-left:59px;}
.form.password.forget .fieldset:after{display:none;}
.form.password.forget .fieldset{margin-bottom:20px;}
.form.password.forget .actions-toolbar .primary .action{padding:14px 50px;font-size:16px; background:#bbbcb7;letter-spacing:1.4px;border:1px solid #bbbcb7;transition:all 0.5s ease;text-transform:uppercase;font-weight:normal;}
.form.password.forget .actions-toolbar .primary .action:hover{background-color:#000;border:1px solid #bbbcb7;background-size:cover;color:#bbbcb7;}
.account-social-login .block-title strong
{   display: block; padding-top: 50px;
}
.customer-account-forgotpassword .page-title-wrapper{ margin-top: 40px;  }
.form.password .field label{ font-weight: normal;  }
.customer-account-create .page-title-wrapper {
    margin-top: 20px;
}
.customer-account-create form#form-validate {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 !important;
    margin-top: 20px;
}
.customer-account-create .form-create-account .legend {
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: 0px;
    font-size: 22px;
    color: #bbbcb7;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}
.customer-account-create .fieldset.create.info {
    margin-bottom: 0px;
    width: 50% !important;
    padding: 0 20px 0 0;
}
.customer-account-create .fieldset.create.account {
    margin-bottom: 0px;
    width: 50% !important;
    padding: 0 0 0 20px;
}
/* login/register page css end */
/* my account pages css */
.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title{
    color:#292826;
}
.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current > strong{ border-color:#292826; }
.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current > strong{color:#292826;} 
.action.primary{ background: #292826; border: 1px solid #292826; font-size: 15px;font-weight: normal;color:#fff; }
.action.primary:hover, .action.primary:focus{ background: #fff; color:#292826;border:1px solid #292826; }
.wishlist-index-index .products-grid .product-item{ width: 31%; margin: 1%; }
.products-grid.wishlist .product-item-name{ text-align: center; }
.products-grid.wishlist .product-item .price-box{ text-align: center;  }
.wishlist-index-index .product-item-inner .comment-box{ margin-top: 0px; display: none; }
.products-grid.wishlist .product-items .product-item .product-item-actions{ visibility: visible; }
.form-wishlist-items .actions-toolbar{ text-align: right; padding: 10px 0px; border-top: 1px solid #ccc;  border-bottom: 1px solid #ccc;  }
.form-wishlist-items .actions-toolbar .primary{ float: none; display: inline-block; }
.form-wishlist-items .actions-toolbar .primary button{ font-weight: normal; font-size: 15px;  }
.form-wishlist-items .actions-toolbar .primary button:hover{ background: #fff; color:#bbbcb7;  }
.account .messages{ margin-top: 20px; }
.account .table th, 
.account .table td
{	width: auto;	
}
.table thead th{ border-bottom: 0px; }
.sidebar .product-items-names .product-item{ padding: 0px; }
/* my account pages css end */
/* cms pages */
.cms-page-view  .page-title-wrapper
{   background: #f1f1f1; padding: 15px 20px;margin-bottom: 20px;
}
.cms-page-view  .page-title-wrapper h1{ margin-bottom: 0px; text-transform: uppercase; }
.welcome-text{ margin-top: 50px; margin-bottom: 50px; }
.info-img img { width: 100%; }
.info-text p{ font-size: 16px; ;line-height: 24px; }
.cms-content.container
{   padding: 0px;    
}
.cms-content .action-bar{ margin-top: 30px; }
.cms-content .action-bar a{ font-size: 18px; color: #bbbcb7; text-decoration: underline; }
.cms-content h3 { margin-bottom: 10px; font-size: 19px; text-transform: uppercase;}
.guides-steps .box
{   background: #bbbcb7;
    text-align: center;
    padding: 60px 30px;
    border: 15px solid #fff;
    position: relative;
    transition: all 0.5s ease;
}
.guides-steps .box h3
{   text-transform: capitalize; margin-bottom: 0px;    
}
.guides-steps .box h3 a
{   color: #fff;    
}
.guides-steps .box h3 a:after
{   content: ""; display: block; width: 100%; height: 100%; left: 0px; top: 0px; position: absolute;
}
.guides-steps .box:hover
{   background: #bbbcb7;
}
#faq_pg dl dt
{	margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    padding-right: 40px;
}
#faq_pg dl dt a
{	color: #fff; font-weight: 600; letter-spacing: 0.030em; font-size: 16px;
	padding: 10px 0px; display: block; 	
}
#faq_pg dl dt span
{	position: absolute; right: 10px; top: 14px;	
}
#faq_pg dl dt span::before
{	content: "\f107"; font-family: 'FontAwesome'; font-size: 18px;	
}
#faq_pg dl dt.active span::before
{	content: "\f106";	
}
#faq_pg dl dd p strong
{	color: #bbbcb7; font-weight: 600;
}

.contact-us-form
{   padding-top: 0px;
}
.form.contact
{   clear:both; padding-right: 20px;
}
.form.contact .field.note
{   margin-bottom: 20px;  color: #fff; font-size: 18px;
}
.form.contact .field .label
{   font-size: 14px;
    font-weight: normal;
}
.form.contact .field .input-text
{   height: 40px;
    border: 1px solid #999999;
    padding: .375rem .75rem;
    color: #495057;
    line-height: 1.5;
    font-size: 16px;
}
.form.contact .actions-toolbar .action
{   padding: 14px 90px;
    font-size: 14px;
    background: #bbbcb7;
    letter-spacing: 1.4px;
    border: 1px solid #bbbcb7;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: normal;
}
.form.contact .actions-toolbar .action:hover
{   background-color: #fff;
    border: 1px solid #bbbcb7;
    background-size: cover;
    color: #000;
}
.right-info .col-xs-12
{   padding-left: 50px; border-left: 1px solid #f1f1f1; margin-top: 75px;
    width: 100%;
}
.contact-us .page-title
{   margin-bottom: 20px;
}
.right-info .col-xs-12 > h2
{   margin-bottom: 15px; font-size: 18px; font-weight: 600;   
}
.right-info .col-xs-12 .map
{ padding-top: 20px; 
}
section.contact-us{ padding-top: 50px; }
section.contact-us ul{ list-style: none; padding: 0px; margin: 0px; }
section.contact-us ul li a{ color: #bbbcb7; }
section.contact-us .social li { display: inline-block; margin-right: 10px; }
section.contact-us .social li a{ font-size: 0px; }
section.contact-us .social li a:before{ font-size: 18px; color: #bbbcb7; }
.contact-index-index .column:not(.sidebar-additional) .form.contact
{   min-width:inherit;
}
.contact-index-index .column:not(.sidebar-additional) .form.contact
{   width: 100%;
}


.form-address-edit .actions-toolbar .action.vertex-secondary, .order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .box-tocart .action.instant-purchase, .multicheckout .action.primary{
    line-height: normal;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: normal;
}
.testimonials-list figure.testimonial blockquote::before, .testimonials-slider figure.testimonial blockquote::before, .testimonials-list figure.testimonial blockquote::after, .testimonials-slider figure.testimonial blockquote::after{
    color:#bbbcb7 !important;
}

/* cms pages end */

/******* Checkout page **************/


.amcheckout-step-container .amcheckout-title > .amcheckout-icon{border:2px solid #bbbcb7;}
.amcheckout-step-container .amcheckout-title > .amcheckout-icon:before{border-right: 2px solid #bbbcb7;border-bottom: 2px solid #bbbcb7;}
.amcheckout-step-container input[type='checkbox'] + label:hover:before, .amcheckout-step-container input[type='radio'] + label:hover:before, .amcheckout-step-container input[type='checkbox']:checked + label:before, .amcheckout-step-container input[type='radio']:checked + label:before{border-color:#bbbcb7;}
._amcheckout-selectable-item.-selected, .amcheckout-step-container .amcheckout-shipping-address .billing-address-details.-selected, .amcheckout-step-container .amcheckout-shipping-address .shipping-address-details.-selected, .amcheckout-step-container .shipping-address-items .shipping-address-item.-selected, .amcheckout-step-container .shipping-address-items .shipping-address-item.selected-item, .amcheckout-step-container .amcheckout-shipping-methods .amcheckout-method.-selected, .amcheckout-step-container .amcheckout-shipping-methods .amcheckout-method.-selected, .amcheckout-step-container .checkout-payment-method .amcheckout-payment-methods .payment-method.-selected, .amcheckout-step-container .checkout-payment-method .amcheckout-payment-methods .payment-method._active{border-color:#bbbcb7;}
.amcheckout-step-container .primary .action.checkout, .amcheckout-step-container .action.checkout.amasty{background:#bbbcb7;}
.am-checkout.-modern .authentication-wrapper .action-auth-toggle{background:#bbbcb7;}
.checkout-onepage-success .page-title-wrapper {
    margin: 40px 0 0 0;
}
.checkout-onepage-success #registration {
    border-left: 3px solid #bbbcb7;
    padding: 0px 0 0 10px;
    margin-top: 30px;
}

